.your-theme-prefix-update-recommandation-btn-icon-fix{
    margin-top: -3px;
    margin-left: 0px;
}

.your-theme-prefix-update-recommandation-link-icon-fix:after{
    font-size: 14px !important;
    margin-left: 0px;
    font-family: dashicons;
    content: "\f504";
}